* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --secondary-color: #e2eddf;
    --text-color: #152427;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Public Sans", sans-serif; */
    font-size: 1.6rem;
}

/* ==================== Common ==================== */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;
    display: inline-block;
    padding: 0 16px;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
    background: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    border-radius: 40px;
    transition: all ease 0.25s;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp--2 {
    --line-clamp: 2;
}

.line-clamp--3 {
    --line-clamp: 3;
}

.section-decoration {
    position: absolute;
}

.section-icon--circle {
    position: absolute;
    left: -42px;
    top: 8px;
}

.section-sub-heading {
    position: relative;
    padding-left: 46px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.12;
    color: var(--text-color);
}

.section-sub-heading::before {
    position: absolute;
    top: 9px;
    left: 0;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--text-color);
}

.section-heading {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--text-color);
}

.section-desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

/* ==================== Header ==================== */
.header {
    font-family: "Public Sans", sans-serif;
    padding: 28px 0 207px;
}

.header-top {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}

.header-top::after {
    position: absolute;
    content: "";
    display: inline-block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    position: relative;
    display: inline-block;
    padding: 16px 19px 13px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
    transition: all ease 0.25s;
}

.navbar__link::after {
    position: absolute;
    bottom: -13px;
    right: calc(100% - 35px);
    z-index: 1;
    content: "";
    display: inline-block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: all ease 0.25s;
}

.navbar__link--active::after,
.navbar__link:hover::after {
    width: 16px;
    left: 19px;
}

.navbar__link--active,
.navbar__link:hover {
    color: var(--text-color);
}

.header-cta {
    margin-left: 88px;
}

/* ==================== Hero ==================== */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.hero__content {
    flex-shrink: 0;
    max-width: 35%;
}

.hero__heading {
    max-width: 368px;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: var(--text-color);
}

.hero__desc {
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.hero-watch {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.hero-watch__link {
    display: flex;
    align-items: center;
    margin-left: 43px;
}

.hero-watch__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: #83a17d;
    border-radius: 50%;
}

.hero-watch__icon::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    border-top-color: #fff;
    border-right-color: #fff;
    transform: rotate(40deg);
}

.hero-watch__text {
    font-family: "Poppins", sans-serif;
    margin-left: 15px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--text-color);
}

.hero__images {
    position: relative;
    display: flex;
}

.hero__decoration--top {
    top: -32px;
    left: -172px;
}

.hero__decoration--bottom {
    bottom: -150px;
    left: 40px;
    transform: rotate(175.95deg);
}

.hero__images::after {
    position: absolute;
    top: 122px;
    left: 156px;
    z-index: -1;
    content: "";
    display: inline-block;
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
}

.hero__img {
    margin-right: 20px;
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__img--middle {
    position: relative;
    bottom: -77px;
}

/* ==================== Brand ==================== */
.brand__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 77px 122px;
    border-radius: 100.5px;
    background: var(--secondary-color);
}

.brand__link--google {
    font-weight: 500;
    font-size: 3.1rem;
    line-height: 1.5;
    color: var(--primary-color);
}

.brand__link {
    display: flex;
    align-items: center;
}

.brand__link--slack {
    column-gap: 3px;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1.5;
    color: var(--primary-color);
}

.brand__link--agworld {
    column-gap: 14px;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.5;
    color: #163c35;
}

.brand__link--riotinto {
    column-gap: 10px;
    font-family: "Sonsie One", cursive;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 1.5;
    color: var(--primary-color);
}

.brand__link--heroku {
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 1.5;
    letter-spacing: 0.105em;
    color: var(--primary-color);
}

/* ==================== Service ==================== */
.service {
    padding: 106px 0;
}

.service__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 12px;
}

.service__sub-heading {
    line-height: 1.62;
}

.service__heading {
    position: relative;
    max-width: 520px;
}

.service__heading::after {
    position: absolute;
    bottom: 19px;
    right: 103px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--text-color);
}

.service__cta {
    display: flex;
    align-items: center;
    column-gap: 17px;
    margin-bottom: 9px;
}

.service__cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: var(--text-color);
    background-color: var(--secondary-color);
    transition: all ease 0.25s;
    cursor: pointer;
}

.service__cta-btn:hover {
    color: #ffffff;
    background-color: var(--primary-color);
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-item {
    border-radius: 20px;
    transition: all ease 0.25s;
    padding-bottom: 23px;
}

.service-item:hover {
    background: #ffffff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service__content {
    padding: 0 18px;
}

.service-item__img {
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service__content {
    transition: all ease 0.25s;
}

.service-item__title {
    display: inline-block;
    margin-top: 24px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--text-color);
}

.service-item__desc {
    max-width: 268px;
    margin-top: 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* ==================== About ==================== */
.about {
    padding: 43px 0;
}

.about__inner {
    display: flex;
    column-gap: 64px;
}

.about__images {
    position: relative;
    display: flex;
    column-gap: 21px;
    padding-bottom: 90px;
}

.about__img {
    position: relative;
    width: 286px;
    height: 480px;
    object-fit: cover;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    border-radius: 210px;
}

.about__img--first {
    bottom: -90px;
}

.about__img--second {
    top: 13px;
}

.about__decoration {
    top: 0;
    right: 0;
    transform: rotate(12.64deg);
}

.about-designers {
    position: absolute;
    left: 457px;
    bottom: 8px;
    z-index: 1;
    min-width: 144px;
    min-height: 144px;
    padding: 19px 17px 11px;
    background: #ffffff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
}

.about-designers__content {
    padding: 0 5px;
}

.about-designers__heading {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--text-color);
}

.about-designers__desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}

.about-designers__value {
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--text-color);
}

.about-designers__value::before {
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 1;
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    background: #83a17d;
    border-radius: 10px;
}

.about-designers__value::after {
    position: absolute;
    left: 0;
    bottom: 0px;
    content: "";
    display: inline-block;
    width: 96px;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}

.about-designers__text {
    margin: 3px 0;
    display: block;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--text-color);
    text-align: right;
}

.about-designers__dot {
    width: 12px;
    height: 12px;
    border: 3px solid #eaeaea;
    background: var(--primary-color);
    border-radius: 50%;
}

.about-designers__member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    margin-top: 4px;
}

.about-designers__member-text {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--text-color);
}

.about-designers__images {
    display: flex;
}

.about-designers__img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.about-designers__img:not(:first-child) {
    margin-left: -6px;
}

.about__content-heading {
    margin-top: 20px;
}

.about__content-desc {
    margin-top: 11px;
}

.about__stats {
    margin-top: 36px;
}

.about-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
    padding-bottom: 20px;
}

.about-item + .about-item {
    margin-top: 38px;
}

.about-item::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 485px;
    height: 1px;
    background-color: #83a17d;
}

.about-item__value {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--text-color);
}

.about-item__text {
    width: 364px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* ==================== Process ==================== */
.process {
    padding: 36px 0;
}

.process__heading {
    width: 477px;
    margin-top: 20px;
}

.process__list {
    margin-top: 81px;
}

.process-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 57px 30px 50px;
    border-radius: 33px;
    transition: all ease 0.25s;
}

.process-item--more {
    flex-direction: column;
    align-items: flex-start;
}

.process-gap--1 {
    column-gap: 64px;
}

.process-gap--2 {
    column-gap: 49px;
}

.process-gap--3 {
    column-gap: 47px;
}

.process-item:hover {
    background: var(--secondary-color);
}

.process-item__number {
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 0.72;
    color: var(--primary-color);
}

.process-item__content {
    display: flex;
    align-items: center;
}

.process-item__img {
    position: absolute;
    right: 92px;
    bottom: 0;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

.process-item__title {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--text-color);
}

.process-item__link {
    margin-top: 7px;
    margin-left: 159px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    color: #575d5e;
}

.process-item__desc {
    width: 572px;
    margin-left: auto;
    margin-right: 41px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #7d8188;
}
