* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --secondary-color: #e2eddf;
    --text-color: #152427;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Public Sans", sans-serif; */
    font-size: 1.6rem;
}

/* ==================== Common ==================== */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;
    display: inline-block;
    padding: 0 16px;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
    background: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    border-radius: 40px;
    transition: all ease 0.25s;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp--2 {
    --line-clamp: 2;
}

.line-clamp--3 {
    --line-clamp: 3;
}

.section-decoration {
    position: absolute;
}

.section-icon--circle {
    position: absolute;
    left: -42px;
    top: 8px;
}

.section-sub-heading {
    position: relative;
    padding-left: 46px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.12;
    color: var(--text-color);
}

.section-sub-heading::before {
    position: absolute;
    top: 9px;
    left: 0;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--text-color);
}

.section-heading {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--text-color);
}

.section-desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

/* ==================== Header ==================== */
.header {
    font-family: "Public Sans", sans-serif;
    padding: 28px 0 207px;
}

.header-top {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}

.header-top::after {
    position: absolute;
    content: "";
    display: inline-block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    position: relative;
    display: inline-block;
    padding: 16px 19px 13px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
    transition: all ease 0.25s;
}

.navbar__link::after {
    position: absolute;
    bottom: -13px;
    right: calc(100% - 35px);
    z-index: 1;
    content: "";
    display: inline-block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: all ease 0.25s;
}

.navbar__link--active::after,
.navbar__link:hover::after {
    width: 16px;
    left: 19px;
}

.navbar__link--active,
.navbar__link:hover {
    color: var(--text-color);
}

.header-cta {
    margin-left: 88px;
}

/* ==================== Hero ==================== */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.hero__content {
    flex-shrink: 0;
    max-width: 35%;
}

.hero__heading {
    max-width: 368px;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: var(--text-color);
}

.hero__desc {
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.hero-watch {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.hero-watch__link {
    display: flex;
    align-items: center;
    margin-left: 43px;
}

.hero-watch__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: #83a17d;
    border-radius: 50%;
}

.hero-watch__icon::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    border-top-color: #fff;
    border-right-color: #fff;
    transform: rotate(40deg);
}

.hero-watch__text {
    font-family: "Poppins", sans-serif;
    margin-left: 15px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--text-color);
}

.hero__images {
    position: relative;
    display: flex;
}

.hero__decoration--top {
    top: -32px;
    left: -172px;
}

.hero__decoration--bottom {
    bottom: -150px;
    left: 40px;
    transform: rotate(175.95deg);
}

.hero__images::after {
    position: absolute;
    top: 122px;
    left: 156px;
    z-index: -1;
    content: "";
    display: inline-block;
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
}

.hero__img {
    margin-right: 20px;
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__img--middle {
    position: relative;
    bottom: -77px;
}

/* ==================== Brand ==================== */
.brand__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 77px 122px;
    border-radius: 100.5px;
    background: var(--secondary-color);
}

.brand__link--google {
    font-weight: 500;
    font-size: 3.1rem;
    line-height: 1.5;
    color: var(--primary-color);
}

.brand__link {
    display: flex;
    align-items: center;
}

.brand__link--slack {
    column-gap: 3px;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1.5;
    color: var(--primary-color);
}

.brand__link--agworld {
    column-gap: 14px;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.5;
    color: #163c35;
}

.brand__link--riotinto {
    column-gap: 10px;
    font-family: "Sonsie One", cursive;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 1.5;
    color: var(--primary-color);
}

.brand__link--heroku {
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 1.5;
    letter-spacing: 0.105em;
    color: var(--primary-color);
}

/* ==================== Service ==================== */
.service {
    padding: 106px 0;
}

.service__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 12px;
}

.service__sub-heading {
    line-height: 1.62;
}

.service__heading {
    position: relative;
    max-width: 520px;
}

.service__heading::after {
    position: absolute;
    bottom: 19px;
    right: 103px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--text-color);
}

.service__cta {
    display: flex;
    align-items: center;
    column-gap: 17px;
    margin-bottom: 9px;
}

.service__cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: var(--text-color);
    background-color: var(--secondary-color);
    transition: all ease 0.25s;
    cursor: pointer;
}

.service__cta-btn:hover {
    color: #ffffff;
    background-color: var(--primary-color);
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-item {
    border-radius: 20px;
    transition: all ease 0.25s;
    padding-bottom: 23px;
}

.service-item:hover {
    background: #ffffff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service__content {
    padding: 0 18px;
}

.service-item__img {
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service__content {
    transition: all ease 0.25s;
}

.service-item__title {
    display: inline-block;
    margin-top: 24px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--text-color);
}

.service-item__desc {
    max-width: 268px;
    margin-top: 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* ==================== About ==================== */
.about {
    padding: 43px 0;
}

.about__inner {
    display: flex;
    column-gap: 64px;
}

.about__images {
    position: relative;
    display: flex;
    column-gap: 21px;
    padding-bottom: 90px;
}

.about__img {
    position: relative;
    width: 286px;
    height: 480px;
    object-fit: cover;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    border-radius: 210px;
}

.about__img--first {
    bottom: -90px;
}

.about__img--second {
    top: 13px;
}

.about__decoration {
    top: 0;
    right: 0;
    transform: rotate(12.64deg);
}

.about-designers {
    position: absolute;
    left: 457px;
    bottom: 8px;
    z-index: 1;
    min-width: 144px;
    min-height: 144px;
    padding: 19px 17px 11px;
    background: #ffffff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
}

.about-designers__content {
    padding: 0 5px;
}

.about-designers__heading {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--text-color);
}

.about-designers__desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}

.about-designers__value {
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--text-color);
}

.about-designers__value::before {
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 1;
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    background: #83a17d;
    border-radius: 10px;
}

.about-designers__value::after {
    position: absolute;
    left: 0;
    bottom: 0px;
    content: "";
    display: inline-block;
    width: 96px;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}

.about-designers__text {
    margin: 3px 0;
    display: block;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--text-color);
    text-align: right;
}

.about-designers__dot {
    width: 12px;
    height: 12px;
    border: 3px solid #eaeaea;
    background: var(--primary-color);
    border-radius: 50%;
}

.about-designers__member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    margin-top: 4px;
}

.about-designers__member-text {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--text-color);
}

.about-designers__images {
    display: flex;
}

.about-designers__img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.about-designers__img:not(:first-child) {
    margin-left: -6px;
}

.about__content-heading {
    margin-top: 20px;
}

.about__content-desc {
    margin-top: 11px;
}

.about__stats {
    margin-top: 36px;
}

.about-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
    padding-bottom: 20px;
}

.about-item + .about-item {
    margin-top: 38px;
}

.about-item::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 485px;
    height: 1px;
    background-color: #83a17d;
}

.about-item__value {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--text-color);
}

.about-item__text {
    width: 364px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* ==================== Process ==================== */
.process {
    padding: 36px 0;
}

.process__heading {
    position: relative;
    width: 477px;
    margin-top: 20px;
}

.process__heading::after {
    position: absolute;
    right: -9px;
    bottom: 18px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--text-color);
}

.process__list {
    margin-top: 81px;
}

.process-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 57px 30px 50px;
    border-radius: 33px;
    transition: all ease 0.25s;
}

.process-item::after {
    position: absolute;
    left: 0;
    bottom: 30px;
    content: "";
    display: inline-block;
    width: 1131px;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process-item:hover {
    background: var(--secondary-color);
}

.process-item:hover::after {
    visibility: hidden;
}

.process-item:hover .process-item__link {
    visibility: visible;
}

.process-item:hover .process-item__desc--hide {
    visibility: hidden;
}

.process-item:hover .process-item__img {
    visibility: visible;
}

.process-item__number {
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 0.72;
    color: var(--primary-color);
}

.process-item__content {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-left: 64px;
}

.process-item:first-child .process-item__content {
    margin-left: 64px;
}

.process-item:nth-child(2) .process-item__content {
    margin-left: 49px;
}

.process-item:last-child .process-item__content {
    margin-left: 47px;
}

.process-item__img {
    visibility: hidden;
    position: absolute;
    right: 92px;
    bottom: 0;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

.process-item__title {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--text-color);
}

.process-item__link {
    margin-top: 22px;
    display: inline-block;
    visibility: hidden;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    color: #575d5e;
    text-decoration: underline;
}

.process-item__desc {
    width: 572px;
    margin-left: auto;
    margin-right: 41px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #7d8188;
}

/* ==================== Projects ==================== */
.project {
    margin-top: 112px;
    padding: 116px 130px 63px;
    background-color: var(--primary-color);
}

.project__inner {
    position: relative;
}

.project__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 93px;
}

.project__content-heading {
    position: relative;
    flex-shrink: 0;
    max-width: 40%;
    color: #e7f9f9;
}

.project__content-heading::after {
    position: absolute;
    bottom: 20px;
    right: 97px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #83a17d;
}

.project__content-desc {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #6a8383;
}

.project__content-link {
    display: flex;
    align-items: center;
    column-gap: 26px;
    margin-top: 13px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}

.project__content-icon {
    color: #80a07b;
}

.project__media {
    position: relative;
}

.project__media-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 118px;
    height: 118px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    cursor: pointer;
}

.project__media-video {
    width: 100%;
    object-fit: cover;
    margin-top: 65px;
    border-radius: 22px;
}

.project__decoration {
    top: 55px;
    right: -160px;
    transform: matrix(-0.2, -0.98, -0.98, 0.2, 0, 0);
    z-index: 1;
}

.project__icon--circle {
    position: absolute;
    left: 310px;
    top: 0px;
}

/* ==================== Features ==================== */
.feature {
    padding: 140px 0;
}

.feature__heading {
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
}

.feature__desc {
    max-width: 547px;
    text-align: center;
    margin: 20px auto 0;
}

.feature__list {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.feature__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 362px;
    border: 1.5px solid #cecece;
    border-radius: 160px;
    transition: all ease 0.25s;
}

.feature__item:hover {
    background: #ffffff;
    box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
    border-radius: 160px;
    border: #fff;
    transform: translateY(-59px);
}

.feature__item-heading {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: var(--text-color);
}

.feature__item-heading--blog {
    margin-top: 26px;
}

.feature__item-heading--document {
    margin-top: 23px;
}

.feature__item-heading--customer {
    margin-top: 19px;
}

.feature__item-desc {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    text-align: center;
    color: #7d8188;
}

.feature__item-desc--blog {
    max-width: 286px;
    margin-top: 9px;
}

.feature__item-desc--document,
.feature__item-desc--customer {
    max-width: 264px;
    margin-top: 12px;
}

/* ==================== Blog ==================== */
.blog {
    padding: 44px 0 102px;
}

.blog__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading {
    position: relative;
    max-width: 46%;
    margin-top: 10px;
}

.blog__heading::after {
    position: absolute;
    top: 84px;
    right: -45px;
    content: "";
    display: inline-block;
    width: 82px;
    height: 3px;
    background: var(--text-color);
}

.blog__desc {
    max-width: 36%;
}

.blog__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog-item {
    --width: 30px;
    position: relative;
    padding-bottom: 49px;
    border-radius: 40px 40px 20px 20px;
    overflow: hidden;
    transition: all ease 0.25s;
}

.blog-item:hover {
    background: #ffffff;
    box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
}

.blog-item:hover .blog-item__content {
    padding: 0 var(--width);
}

.blog-item:hover::after {
    left: var(--width);
    width: calc(337px - var(--width));
}

.blog-item:hover .blog-item__label {
    color: var(--secondary-color);
    background: var(--primary-color);
}

.blog-item__img {
    display: block;
    width: 100%;
    height: 317px;
}

.blog-item__content {
    height: 155px;
    transition: all ease 0.25s;
}

.blog-item::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 39px;
    content: "";
    display: inline-block;
    width: 337px;
    height: 1px;
    background: #c4c4c4;
    transition: all ease 0.25s;
}

.blog-item__label {
    display: inline-block;
    padding: 7px 33px;
    margin-top: 26px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: #000000;
    background: var(--secondary-color);
    border-radius: 20px;
    transition: all ease 0.25s;
}

.blog-item__heading {
    margin-top: 13px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color);
}

.blog-item__date {
    position: absolute;
    right: calc(100% - 337px);
    bottom: 12px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: #575d5e;
}

/* ==================== Footer ==================== */
.footer {
    padding: 72px 0 50px;
    background-color: var(--primary-color);
}

.footer__inner {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 45px;
}

.footer__inner::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        var(--primary-color) 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}

.footer-content__heading {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #ffffff;
}

.footer-content__form {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 351px;
    margin-top: 10px;
    padding-bottom: 16px;
}

.footer-content__form::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 354px;
    height: 1px;
    background: #6a8383;
}

.footer-content__form-input {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 12px 0;
    color: #fff;
}

.footer-content__form-input::placeholder {
    color: #6a8383;
    font-size: 2.2rem;
    line-height: 1;
    font-weight: 600;
}

.footer-content__form-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border: transparent;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.footer__social {
    display: flex;
    column-gap: 22px;
    margin-top: 47px;
}

.footer__social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: 1px solid #265252;
    border-radius: 50%;
    transition: all ease 0.25s;
}

.footer__social-icon:hover {
    background: #a75325;
}

.footer__list {
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}

.footer__column-heading {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}

.footer__column-list {
    margin-top: 6px;
}

.footer__column-link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.25;
    color: #6a8383;
    transition: all ease 0.25s;
}

.footer__column-link:hover {
    text-decoration: underline;
}
